<p>home works!</p>
<h3 class="title">School</h3>

<div class="container">
  <div class="row">
    <div class="col">
      <!--Subject Table-->
      <table class="table table-bordered table-hover">
        <thead class="thead-dark">
        <th scope="col">Subject Name</th>
        </thead>
        <tbody>
        <tr *ngFor="let subject of subjects; let i=index">
          <td>{{subject.name}}</td>
        </tr>
        </tbody>
      </table>
      <button class="btn btn-primary" type="button" id="addSubject" data-toggle="modal" data-target="#newSubject">Add new Subject</button>
    </div>

    <div class="col">
      <!--Student Table-->
      <table class="table table-bordered table-hover">
        <thead class="thead-dark">
        <th scope="col">Student Name</th>
        <th scope="col">Address</th>
        <th colspan="4">Phones</th>
        </thead>
        <tbody>
        <tr *ngFor="let student of students; let i=index">
          <td>{{student.name}}</td>
          <td>{{student.address}}</td>
          <td>{{student.phones[0].description}}</td>
          <td>{{student.phones[0].number}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Modal Add Subject-->
<div class="modal fade" id="newSubject" tabindex="-1" role="dialog" aria-labelledby="subjectLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="subjectLabel">New Subject</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="subjectForm">
          <div class="form-group">
            <div class="example-container">
              <input type="text" id="subjectName" formControlName="name" placeholder="Subject Name" [(ngModel)]="subjectName"/>
            </div>
          </div>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.name">
              <div class="alert alert-danger" *ngIf="subjectForm.get('name').hasError(validation.type) && (subjectForm.get('name').dirty || subjectForm.get('name').touched)">
                {{ validation.message }}
              </div>
            </ng-container>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" [disabled]="!subjectForm.valid" (click)="addNewSubject()" data-dismiss="modal">Save changes</button>
      </div>
    </div>
  </div>
</div>
